.checklist {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.2em;
    margin-left: 10px;
    border-bottom: 1px solid black;
}

button {
    background: none;
    border: none;
}

.rotate {
    animation: rotation 1.5s infinite linear;
    
}
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

p {
    margin-right: 10px;
}

span {
    margin-left: 10px;
}